footer {
    flex: 0 0 auto;
}

main.dark-theme {
    footer {
        --bs-text-opacity: 1;
        color: rgba(255, 255, 255, 0.5) !important;
        a {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}
