url = "/projects/:project*/:slug?"
layout = "master"
title = "Проект"

[DocProject]
slug = "{{ :project }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[DocPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0
skip_error = 0

==
<?php
function onInit()
{
    $obDocProject = $this->DocProject->get();
    $obDocPage = $this->DocPage->get();
  
    if (!$obDocProject and !$obDocPage) {
        return $this->DocProject->getErrorResponse();
    }

    $this['obDocProject'] = $obDocProject;
    $this['obLayouts'] = $obLayouts = \Zen\TrMaker\Models\Layout::where([['active',1],['project_id',$obDocProject->id]])->lists('id');
    $this['obPages'] = $obPages = \Zen\TrMaker\Models\Page::where('active',1)->whereIn('layout_id',$obLayouts)->orderBy('nest_left')->get();
    $this['obActivePage'] = $obActivePage = $obPages->first();

    if ($obDocPage) {
        $this['obActivePage'] = $obActivePage = $obDocPage;
    } 

    $this['arBlocksID'] = $arBlocksID = \DB::table('zen_trmaker_pages_blocks_pivot')->where('page_id', $obActivePage->id)->lists('block_id');
    
    
    $obLaoutActive = $obActivePage->layout;
    $iHeaderIdBlock = $obLaoutActive->header_id;
    $iFooterIdBlock = $obLaoutActive->footer_id;

    array_push($arBlocksID, $iFooterIdBlock);
    array_unshift($arBlocksID, $iHeaderIdBlock);

    $ids_ordered = implode(',', $arBlocksID);

    $this['obBlocks'] = \Zen\TrMaker\Models\Block::whereIn('id', $arBlocksID)->orderByRaw("FIELD(id, $ids_ordered)")->get();
  
    $this['page_css'] = mix('css/project.css', 'themes/project/assets');
    $this['page_js'] = mix('js/project.js', 'themes/project/assets');

}
?>
==
{% put page_style %}
<link rel="stylesheet" href="{{ page_css }}">
{% endput %}
{% put page_script %}
<script src="{{ page_js }}"></script>
{% endput %}


{% set arSEOParams = {'page': obActivePage} %}

{% put seo_tags %}
    {% component 'SeoToolbox' model=obActivePage params=arSEOParams %}
{% endput %}

<div class="container">

    <section class="content mb-4">
        <div class="row">
            <div class="col-4">
                <main class="d-flex flex-nowrap">
                    <h1 class="visually-hidden">Страницы</h1>

                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
                        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                            <span class="fs-5 fw-semibold">Страницы</span>
                        </a>
                        <div class="list-group list-group-flush border-bottom scrollarea">
                            {% for obPage in obPages %}
                            <a href="/projects/{{obDocProject.id}}/{{obPage.id}}" class="list-group-item list-group-item-action {{ (obPage.id == obActivePage.id) ? 'active':'' }} py-3 lh-sm" aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">{{ obPage.name }}</strong>
                                </div>
                                <div class="col-10 mb-1 small">{{ obPage.description }}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="b-example-divider b-example-vr"></div>
                </main>
            </div>
            <div class="col-8">
                <h1>{{obActivePage.name }}</h1>
                {% if  obBlocks|length %}
                    
                    {% for obBlock in obBlocks %}
                        <section class="block-item">
                            <h3 class="">{{ obBlock.name }}</h3>
                            <div>{{ obBlock.desc_short }}</div>
                            <div>{{ obBlock.desc_full|raw }}</div>
                            <div class="block-images">
                                {% for obImage in obBlock.images %}
                                    <img src="{{ obImage.path }}" alt="{{ obImage.title}}">
                                {% if obImage.title %}
                                    <p>Изображение {{loop.index}}: {{ obImage.title }}</p>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="page-stats">
                                <div><b>Разработка займет:</b> {{ (obBlock.time) ? obBlock.time : '>360'}} мин.</div>
                                <div><b>Стоимость:</b> {{ obBlock.price }} ₽</div>
                            </div>
                            <div class="tab-content mt-3" id="myTabContent">
                                {% if obBlock.data[0].text %}
                                <div class="mt-3">
                                    <p>{{obBlock.data[0].text}}</p>
                                </div>
                                {% endif %}

                                {% if obBlock.data[0].code %}
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <pre><code class="language-json">{{ obBlock.data[0].code|raw }}</code></pre>
                                </div>
                                {% endif %}

                                {% if obBlock.data[0].image|length %}
                                <div class="mt-3">
                                    <img src="{{ obItem.data[0].image|media }}" width='100%' alt="image">
                                </div>
                                {% endif %}
                            </div>
                        </section>
                    {% endfor %}
                {% else %}
                    <h3>Блоков на этой странице  еще нет!</h3>
                {% endif %}
            </div>
        </div>
    </section>


</div>
